@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.chest {
  --gold: #feb21f;
  --beige: #f4e2c8;
  --black: #101010;
  --blackLight: #707696;
  --blackAlpha: rgba(0, 0, 0, 0.2);

  position: relative;
  width: 14rem;
  height: 10rem;
  border: none;
  border-radius: 0.25rem;
  display: flex;
  background: var(--blackLight);
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 2s ease;

  & * {
    transform-style: preserve-3d;
  }

  .insert {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1rem solid #feb22f3f;
    border-radius: 50px;
  }
  .top {
    height: 3.5rem;
    width: 100%;
    background: blue;
    border: solid var(--gold);
    border-width: 0 1rem 0.5rem;
    border-radius: 0.25rem 0.25rem 0 0;
    transform: rotateX(0);
    transition: all 2s ease;
  }
  .chest_keyholeBG {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    width: 4rem;
    transform: translateX(-50%);
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gold);
    border-radius: 0 0 50% 50% / 0 0 100% 100%;

    .chest_keyhole {
      display: flex;
      flex-direction: column;
      align-items: center;

      &::before {
        content: "";
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background-color: var(--black);
      }

      &::after {
        content: "";
        display: block;
        width: 0.25rem;
        height: 0.75rem;
        margin-top: -0.25rem;
        background-color: var(--black);
      }
    }
  }
  .bottom {
    height: 6.5rem;
    width: 100%;
    background: blue;
    border: solid var(--gold);
    border-width: 0.5rem 1rem 0;
    border-radius: 0 0 0.25rem 0.25rem;
  }

  &:hover {
    height: 12rem;
    transform: translateY(-1em);
    background-color: #feb21f45;

    & .top {
      transform: rotateX(48deg) translateY(-20px);
    }
  }
}
